<nav class="tabs">
      <ul>
        <li>
          <a href="./index.html">Home
          </a>
        </li>
        <li>
          <a href="./search.html">Search
          </a>
        </li>
        <li>
          <a href="./form.html">Add Restaurant
          </a>
        </li>
        <li>
          <a href="./contact.html">Contact
          </a>
        </li>
        <li>
          <a href="./about.html">About
          </a>
        </li>
      </ul>
</nav>