body {
background-image: url('upfeathers.png');
background-repeat: repeat;
}
.title {
width: 100%;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
background-color: transparent; 
}
.addertitle {
width: 100%;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
background-color: transparent; 
}
.jumbotron{
padding: 0; 
margin: 0;
}
.search-container{
margin: 25px 0;
}
/* unvisited link */
.tabs a:link {
color: white;
}
/* visited link */
.tabs a:visited {
color: white;
}
/* mouse over link */
.tabs a:hover {
color: gray;
}
/* selected link */
.tabs a:active {
color: grey;
}
.tabs ul {
width: 85%;
list-style-type: none;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 20px;
padding: 0;
overflow: hidden;
background-color: #145e11;
border-radius: 4px;
margin: 20px auto;
min-width: 300px;
margin-top: -10px;
white-space:nowrap;
text-align: center;
}
.tabs li {
position: relative;
display: inline-block;
}
.tabs li a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.tabs li a:hover:not(.active) {
background-color: #177314;
}
/* relevant styles */
.thumbnail_wrap {
position: relative;
font-family: 'Open Sans Condensed', sans-serif;
margin: 0 auto;
}
.descrip_layer {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(128, 128, 128, 0.9);
color: #fff;
visibility: hidden;
opacity: 0;

/* transition effect. not necessary */
transition: opacity .2s, visibility .2s;
}

.food-type {
	display: flex;
align-items: center;
justify-content: center;
}

.thumbnail_wrap:hover .descrip_layer {
visibility: visible;
opacity: 1;
}

.descrip_text {
  transition: .2s;
  transform: translateY(1em);
  position: relative;
  top: 15%;
  text-align: center;
}

.thumbnail_wrap:hover .descrip_text {
transform: translateY(0);
}
@media screen and (max-width: 480px){
.tabs li {
display: block;
width 100%;
}
}
.search-container button {  
margin: 5px;
display: inline-block;
}
.search-wrap {
display: block;
text-align: center;
margin: 0 auto;
width: 50%;
min-width: 300px;
}
#search {
text-align: center;
}
.button-wrap {
width: 300px;
margin: 0 auto;
}
.button-wrap button:nth-child(1) {
margin-left: 50px;
}
.form_container { 
text-align: center;
border-style: solid;
border-radius: 5px;
border-width: 3px 3px 3px 3px;
margin-right: 150px;
margin-left: 150px;
margin-top: 80px;
padding-top: 30px;
padding-bottom: 30px;
}
.contact_container { 
text-align: center;
border-style: solid;
border-radius: 5px;
border-width: 3px 3px 3px 3px;
margin-right: 150px;
margin-left: 150px;
margin-top: 80px;
padding-top: 30px;
padding-bottom: 30px;
}
.contact_row {
padding: 5px;
}
.form_row {
padding: 5px;
}
.descrip_text{

font-size: 5.4vh;
    /*font-size: 10.5vw;	
	font-size: 10.5vh;*/
}
@media screen and (max-width: 800px){
.descrip_text{
font-size:40px; 
}
}
@media screen and (max-width: 769px){
.descrip_text{
font-size:20vh; 
}
}

#name {
  font-size: 40px;
}

#stars {
  font-size: 30px;
}

#cost {
  font-size: 30px;
}

#location {
  font-size: 30px;
}

#description {
  font-size: 30px;
}

.moveRight {
		position: relative;
	right: -15px;
}
.moveLeft {
	position: relative;
	left: -15px;
}