<div class="thumbnail_wrap thumbnail">
	<img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/18949677_342378656180593_4461254432402702336_n.jpg" height=100% width=100% />
	<div class="descrip_layer food-type">
		BBQ
	</div>
</div>