 <form enctype='application/json' action="/demo-app/vendor" method="POST">
          <label for="flname">First and Last Name:&nbsp &nbsp &nbsp
          </label>
          <input type="text" id="flname" name="flname" placeholder="First and Last Name">
          </div>
        <div class='contact_row'>
          <label for="eaddress">Email Address:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          </label>
          <input type="text" id="eaddress" name="eaddress" placeholder="Email Address">
        </div>
        <div class='contact_row'>
          <label for="phone">Phone Number:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          </label>
          <input type="text" id="phone" name="phone" placeholder="Phone Number">
        </div>
        <div class='contact_row'>
          <label for="subject">Subject:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          </label>
          <input type="text" id="subject" name="subject" placeholder="Message Subject">
        </div>
        <div class='contact_row'>
          <textarea contact_rows="20" cols="50" name="comment" form="usrform">Enter message here...
          </textarea>
          </select>
      </div>
      <div class='contact_row'>
        <input type="submit" value="Submit">
        </form>