 <form enctype='application/json' ng-submit="vendorForm.submitForm()">
          <label for="fname">Restaurant Name:
          </label>
          <input type="text" id="rname" name="name" placeholder="Name of Restaurant" ng-model="vendorForm.name">
          </div>
        <div class='form_row'>
          <label for="lname">Address:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          </label>
          <input type="text" id="address" name="address" placeholder="Restaurant Address" ng-model="vendorForm.address">
        </div>
        <div class='form_row'>
          <label class='moveLeft'for="foodtype">Food Type:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          </label>
          <select class='moveRight' id="foodtype" name="type" ng-model="vendorForm.type">
            <option value="Vegan">Vegan
            </option>
            <option value="Italian">Italian
            </option>
            <option value="Bar">Bar
            </option>
            <option value="Asian">Asian
            </option>
            <option value="Breakfast">Breakfast
            </option>
            <option value="American">American
            </option>
            <option value="Dessert">Dessert
            </option>
            <option value="Mexican">Mexican
            </option>
          </select>
        </div>	
        <div class='form_row'>
          <label for="rating">Rating: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          </label>
          <select id="rating" name="rating" ng-model="vendorForm.rating">
            <option value="1">1
            </option>
            <option value="2">2
            </option>
            <option value="3">3
            </option>
            <option value="4">4
            </option>
            <option value="5">5
            </option>
          </select>
        </div>
        <div class='form_row'>
          <label for="description">Description: &nbsp &nbsp &nbsp &nbsp &nbsp  
          </label>
          <input type="text" id="descr" name="description" placeholder="Description" ng-model="vendorForm.description">
          </select>
      </div>
      <div class="form_row">
          <label for="imgUrl">Image URL: &nbsp &nbsp &nbsp &nbsp &nbsp  
          </label>
          <input type="text" id="imgUrl" name="imgUrl" placeholder="ImageUrl" ng-model="vendorForm.imgUrl">
          </select>
      </div>
      <div class='form_row'>
        <button type="submit" value="Submit">Submit</button>
        </form>