<form ng-submit="search.submitForm()">
<div class='row'>
          <div class='search-wrap'>
            	<input type="search" class="form-control" id="search" placeholder="Enter Restaurant Name" ng-model="search.searchField">
          </div>
        </div>
        <div class='row'>
          <div class='button-wrap'>
            <button type="submit" class="btn original btn-info button-primary" ng-disabled="search.searchField.length === 0">Search
            </button>
            <button type="button" class="advanced btn btn-info" data-toggle="collapse" data-target="#demo">Advanced Search
            </button>
          </div>
        </div>
        <div id="demo" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
            </form> 
	<div class="searchResults"></div>